*{
    box-sizing:border-box;
   
    color:white;
}
/* Header */
.tab #logo {
  font-family:'Bowlby One SC';
  width:200px;
  height:40px;
  Display: flex;
  float: left;
  color: rgb(220, 173, 55);
}
.nav-item a {
  color: white;
}

.nav {
  width: auto;
  display: flex;
  justify-content: flex-end;
}

header  {
  float:inline-end

}


.main {
    background-image: url('https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=1060&t=st=1668703045~exp=1668703645~hmac=0ee035a7997a064b55d30a67e3d7f041f4b83c3b259abb47abd78311f9459ab1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #302727;
    height: 500px;
    width: auto;
    margin-bottom:40px;
  }
  .main-content{
    position: absolute;
    bottom: 300px;
  }

  h1,h2, .main-content 
  {
    color:black;
    font-family: 'open sans';
    font-weight: bolder;

  }
  .main-text
  {
    color:black;
    font-weight: bold;

  }
  
  .flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .box-one  {
    width: 500px;
    height: 300px;
    padding: 30px;
    margin: 10px;
    position: relative;
    left: 200px;
    border: 3px solid whitesmoke;
}
.box-two {
    width: 500px;
    height: 300px;
    padding: 30px;
    margin: 10px;
    position: relative;
    right: 200px;
    border: 3px solid whitesmoke;
}
.grid-container {
    display: inline-grid;
    justify-content: center;
    grid-template-columns: 500px 500px 500px;
    background-color: black;
    padding: 10px;
    

  }
  
  .grid-item1 {
    color: white;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Oregano';
  }

 .grid-item2 {
    color: white;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-family: "Over the Rainbow";
   }
 .second-content{
    margin-left: none;
    margin-top: 80px;
    text-align: center;
 }
 .second-content h2
 {
    color:rgb(229, 146, 12);
    font-family:'Oregano';
 }
 .third-content{
    padding: 2rem 1.5rem;
    display: flex;
    align-items: center;
    border: 2px solid white;
    height: 200px;


 }
 .image{
    position: relative;
  left: 300px;
  width: 300px;
  padding: 10px;
  height: 200px;
 }
 .image img {
     border-radius: 50%;

 }

.Social-media{
   width: max-content;
}
#email {
    background-color: grey;
}
.email{
    text-align: center;
}
.container{
position: relative;
top: 20px;
bottom: 20px;
}

